<td> <%= button_to "Delete Discount", [@merchant, discount], method: :delete, local: true %> </td>
<td> <%= button_to "Update Discount", edit_merchant_bulk_discount_path(@merchant, discount), method: :get, local: true %></td>
